<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>An HTML5 Slideshow w/ Canvas &amp;amp;amp; jQuery | Tutorialzine Demo</title>

<link rel="stylesheet" type="text/css" href="styles.css" />

</head>

<body>
<header> 
  <h1><b>San Francisco</b></h1>
  <p><img src="Group_logo.png" alt></p>
</header>
<div id="captioned-gallery" style="display:none;">
	<figure class="slider">
		<figure>
			<img src="http://wallpapers-and-backgrounds.net/wp-content/uploads/2015/10/good-night-hd-background_1_1280x720.jpg" alt>
			<figcaption>Hobbiton, New Zealand</figcaption>
		</figure>
		<figure>
			<img src="http://hdwpro.com/wp-content/uploads/2017/11/Awesome-Wallpaper.jpg" alt>
			<figcaption>Wanaka, New Zealand</figcaption>
		</figure>
		<figure>
			<img src="http://wallpapers-and-backgrounds.net/wp-content/uploads/2015/10/good-night-hd-background_1_1280x720.jpg" alt>
			<figcaption>Utah, United States</figcaption>
		</figure>
		<figure>
			<img src="http://wallpapers-and-backgrounds.net/wp-content/uploads/2015/10/good-night-hd-background_1_1280x720.jpg" alt>
			<figcaption>Bryce Canyon, Utah, United States</figcaption>
		</figure>
		<figure>
			<img src="http://wallpapers-and-backgrounds.net/wp-content/uploads/2015/10/good-night-hd-background_1_1280x720.jpg" alt>
			<figcaption>Hobbiton, New Zealand</figcaption>
		</figure>
	</figure>
</div>
<div class="sub-main-w3">

<div class="new">
<div style="    font-size: 15px;">Please ensure the following terms before proceeding: </div>
<ol class="list-item">
<li>You are at least 21 years of age</li>
<li>You are able to complete the transaction (including payment at cashier) within 45 minutes before flight departure.</li>
<li>You are travelling to a country outside of United States</li>
</ol>
 <button class="btn btn-4 btn-4a">I Agree</button>
  <button class="btn btn-4 btn-4a">Cancel</button>
</div>
</div>
<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
 
  <p style="    color: white;
    font-size: 12px;
    text-align: center;padding:30px;">In order to browse and purchase tobacco products, you need to be of 21 years of age. Payment for tobacco products will be made at the cashier</p>
</footer>
</body>
</html>
